https://pypi.org/project/yfinance/

In [1]:
import pandas as pd 
import sqlalchemy
import yfinance as yf 
from pandas.tseries.offsets import MonthEnd as me

In [4]:
nse_stocks=pd.read_csv("C:/data/apps/part_time_larry_projects/workspace/data/NSE_EQUITY_STOCKS.csv")

In [5]:
nse_stocks

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5,1,INE144J01027,5
1,21STCENMGM,21st Century Management Services Limited,EQ,03-MAY-1995,10,1,INE253B01015,10
2,3IINFOTECH,3i Infotech Limited,BE,22-APR-2005,10,1,INE748C01020,10
3,3MINDIA,3M India Limited,EQ,13-AUG-2004,10,1,INE470A01017,10
4,3PLAND,3P Land Holdings Limited,BE,19-JUL-1995,2,1,INE105C01023,2
...,...,...,...,...,...,...,...,...
1685,ZOMATO,Zomato Limited,EQ,23-JUL-2021,1,1,INE758T01015,1
1686,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10,1,INE358U01012,10
1687,ZUARI,Zuari Agro Chemicals Limited,BE,27-NOV-2012,10,1,INE840M01016,10
1688,ZUARIGLOB,Zuari Global Limited,BE,12-APR-1995,10,1,INE217A01012,10
1689,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,10,1,INE768C01010,10

In [5]:
wiki_url = "https://en.wikipedia.org/wiki"
x=pd.read_html(wiki_url + "/BSE_SENSEX")

In [7]:
tickerSymbols = x[1]['Symbol'].to_list()

In [8]:
tickerSymbols

['ASIANPAINT.BO',
 'AXISBANK.BO',
 'BAJAJ-AUTO.BO',
 'BAJFINANCE.BO',
 'BAJAJFINSV.BO',
 'BHARTIARTL.BO',
 'DRREDDY.BO',
 'HCLTECH.BO',
 'HDFC.BO',
 'HDFCBANK.BO',
 'HINDUNILVR.BO',
 'ICICIBANK.BO',
 'INDUSINDBK.BO',
 'INFY.BO',
 'ITC.BO',
 'KOTAKBANK.BO',
 'LT.BO',
 'M&M.BO',
 'MARUTI.BO',
 'NESTLEIND.BO',
 'NTPC.BO',
 'ONGC.BO',
 'POWERGRID.BO',
 'RELIANCE.BO',
 'SBIN.BO',
 'SUNPHARMA.BO',
 'TCS.BO',
 'TECHM.BO',
 'TITAN.BO',
 'ULTRACEMCO.BO']

In [5]:
data = []
for ticker in tickerSymbols:
    data.append(yf.download(ticker).reset_index())

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
MICRONS=yf.Ticker("20MICRONS.NS")

In [7]:
MICRONS.info

{'zip': '391760',
 'sector': 'Basic Materials',
 'fullTimeEmployees': 403,
 'longBusinessSummary': '20 Microns Limited engages in the industrial micronised minerals and specialty chemicals businesses in India. It offers industrial minerals, such as ground calcium carbonate, dolomite, hydrous kaolins, calcined kaolins, talcs, natural barytes, silica/quartz, muscovite mica, feldspar/nepheline syenite, and natural and synthetic red oxide. The company also provides specialty chemicals, including white pigment opacifiers, buff colored TIO2, synthetic barium sulphate, micronized wax and wax additives, high aspect ratio talc, flash and surface modified calcined kaolins, matting agents, rheological additives, inorganic thickeners, sub micron calcium carbonate, decorative colored quartz sand, calcium oxide desiccant, and flame retardants. Its products are used in paints and coatings, inks and pigments, plastics and polymers, papers, rubber, cosmetics, adhesives and sealants, agrochemicals, welding electrodes, foundry, ceramics, construction and construction chemicals, oil well drilling, filtration, detergents and soaps, leather, and textiles applications. The company also exports its products. 20 Microns Limited was founded in 1987 and is headquartered in Vadodara, India.',
 'city': 'Vadodara',
 'phone': '91 26 5232 1534',
 'country': 'India',
 'companyOfficers': [],
 'website': 'http://www.20microns.com',
 'maxAge': 1,
 'address1': '347, GIDC Industrial Estate',
 'industry': 'Other Industrial Metals & Mining',
 'address2': 'Waghodia',
 'ebitdaMargins': 0.099980004,
 'profitMargins': 0.03816,
 'grossMargins': 0.46561,
 'operatingCashflow': None,
 'revenueGrowth': 0.178,
 'operatingMargins': 0.075830005,
 'ebitda': 470754752,
 'targetLowPrice': 110,
 'recommendationKey': 'buy',
 'grossProfits': 2496117000,
 'freeCashflow': None,
 'targetMedianPrice': 110,
 'currentPrice': 60.45,
 'earningsGrowth': 0.046,
 'currentRatio': None,
 'returnOnAssets': None,
 'numberOfAnalystOpinions': 1,
 'targetMeanPrice': 110,
 'debtToEquity': 46.747,
 'returnOnEquity': None,
 'targetHighPrice': 110,
 'totalCash': 138691008,
 'totalDebt': 925048000,
 'totalRevenue': 4708721152,
 'totalCashPerShare': 3.927,
 'financialCurrency': 'INR',
 'revenuePerShare': 133.288,
 'quickRatio': None,
 'recommendationMean': 2,
 'exchange': 'NSI',
 'shortName': '20 MICRONS LTD',
 'longName': '20 Microns Limited',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '19800000',
 'quoteType': 'EQUITY',
 'symbol': '20MICRONS.NS',
 'messageBoardId': 'finmb_137821',
 'market': 'in_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 0.627,
 'beta3Year': None,
 'enterpriseToEbitda': 6.274,
 '52WeekChange': 0.9821718,
 'morningStarRiskRating': None,
 'forwardEps': None,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 35286500,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 65.489,
 'sharesShort': None,
 'sharesPercentSharesOut': None,
 'fundFamily': None,
 'lastFiscalYearEnd': 1585612800,
 'heldPercentInstitutions': 0,
 'netIncomeToCommon': 179675008,
 'trailingEps': 5.081,
 'lastDividendValue': 0.6,
 'SandP52WeekChange': 0.32256997,
 'priceToBook': 0.9230558,
 'heldPercentInsiders': 0.62466,
 'nextFiscalYearEnd': 1648684800,
 'yield': None,
 'mostRecentQuarter': 1609372800,
 'shortRatio': None,
 'sharesShortPreviousMonthDate': None,
 'floatShares': 15678977,
 'beta': 0.694076,
 'enterpriseValue': 2953671680,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1359331200,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1584576000,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.045,
 'priceToSalesTrailing12Months': 0.45764604,
 'dateShortInterest': None,
 'pegRatio': None,
 'ytdReturn': None,
 'forwardPE': None,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': None,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 61.15,
 'regularMarketOpen': 62.5,
 'twoHundredDayAverage': 49.052776,
 'trailingAnnualDividendYield': 0,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 62.5,
 'navPrice': None,
 'averageDailyVolume10Day': 189663,
 'regularMarketPreviousClose': 61.15,
 'fiftyDayAverage': 63.466667,
 'trailingAnnualDividendRate': 0,
 'open': 62.5,
 'toCurrency': None,
 'averageVolume10days': 189663,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': 1584576000,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 59.55,
 'currency': 'INR',
 'trailingPE': 11.8972645,
 'regularMarketVolume': 68332,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2154927616,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 469050,
 'dayLow': 59.55,
 'ask': 60.65,
 'askSize': 0,
 'volume': 68332,
 'fiftyTwoWeekHigh': 74.9,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 25.35,
 'bid': 60.35,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 0,
 'dayHigh': 62.5,
 'regularMarketPrice': 60.45,
 'logo_url': 'https://logo.clearbit.com/20microns.com'}

In [ ]:
msft = yf.Ticker("MSFT")
# get stock info
msft.info
# get historical market data
hist = msft.history(period="max")
# show actions (dividends, splits)
msft.actions
# show dividends
msft.dividends
# show splits
msft.splits
# show financials
msft.financials
msft.quarterly_financials
# show major holders
msft.major_holders
# show institutional holders
msft.institutional_holders
# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet
# show cashflow
msft.cashflow
msft.quarterly_cashflow
# show earnings
msft.earnings
msft.quarterly_earnings
# show sustainability
msft.sustainability
# show analysts recommendations
msft.recommendations
# show next event (earnings, etc)
msft.calendar
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin
# show options expirations
msft.options
# get option chain for specific expiration
opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts

In [2]:
engine=sqlalchemy.create_engine("sqlite:///IndiaNSE.db")

In [5]:

for frame,symbol in zip(data,tickerSymbols):
    frame.to_sql(symbol,engine,index=False)

NameError: name 'data' is not defined

In [3]:
pd.read_sql(f'SELECT * FROM "ASIANPAINT.BO"',engine)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-01-03 00:00:00.000000,23.437500,24.687500,23.437500,24.371876,17.756279,238128.0
1,2000-01-04 00:00:00.000000,23.750000,24.468750,23.375000,24.375000,17.758554,222840.0
2,2000-01-05 00:00:00.000000,24.062500,24.125000,23.456249,24.125000,17.576420,168648.0
3,2000-01-06 00:00:00.000000,24.000000,24.062500,23.565624,23.750000,17.303213,127728.0
4,2000-01-07 00:00:00.000000,23.437500,24.250000,23.437500,23.937500,17.439812,3416664.0
...,...,...,...,...,...,...,...
5126,2021-07-20 00:00:00.000000,2992.000000,3178.000000,2981.699951,3159.199951,3159.199951,261867.0
5127,2021-07-22 00:00:00.000000,3180.000000,3180.000000,3090.600098,3104.449951,3104.449951,173530.0
5128,2021-07-23 00:00:00.000000,3115.000000,3129.949951,3078.449951,3083.199951,3083.199951,35179.0
5129,2021-07-26 00:00:00.000000,3088.949951,3117.250000,3050.000000,3063.300049,3063.300049,79186.0
5130,2021-07-27 00:00:00.000000,3084.000000,3084.000000,3021.199951,3027.449951,3027.449951,86306.0

In [4]:
df = pd.DataFrame()
for name in tickerSymbols:
    df=df.append(pd.read_sql(f'SELECT Date,"Adj Close" as "{name}" FROM "{name}" WHERE Date>"2010-01-01"',engine))

NameError: name 'tickerSymbols' is not defined

In [8]:
df=df.groupby("Date").sum()

In [9]:
df.index=pd.to_datetime(df.index)

In [10]:
mtlprices= df.resample('M').last()

In [12]:
import datetime as dt
from pandas.tseries.offsets import MonthEnd 
formation= dt.datetime(2011,2,28)
begin_measurement= formation - MonthEnd(12)
end_measurement= formation - MonthEnd(1)

In [22]:
price_end=mtlprices.loc[end_measurement]
price_12mbefore=mtlprices.loc[begin_measurement]

In [23]:
ret_12=price_end/price_12mbefore -1

In [25]:
winners = ret_12.nlargest(3)

TITAN.BO         1.066897
BAJFINANCE.BO    0.989616
TCS.BO           0.549457
dtype: float64

In [ ]:
winnerret=mtlprices

In [10]:
yf.download('MIRCH.BO').reset_index()

[*********************100%***********************]  1 of 1 completed

          Date  Open  High   Low  Close  Adj Close  Volume
0   2020-05-13  0.60  0.60  0.60   0.60       0.60       0
1   2020-05-14  0.60  0.60  0.60   0.60       0.60       0
2   2020-05-15  0.60  0.60  0.60   0.60       0.60       0
3   2020-05-18  0.60  0.60  0.60   0.60       0.60       0
4   2020-05-19  0.60  0.60  0.60   0.60       0.60       0
..         ...   ...   ...   ...    ...        ...     ...
239 2021-05-07  0.78  0.78  0.78   0.78       0.78       0
240 2021-05-10  0.78  0.78  0.78   0.78       0.78       0
241 2021-05-11  0.78  0.78  0.78   0.78       0.78       0
242 2021-05-12  0.78  0.78  0.78   0.78       0.78       0
243 2021-08-06  0.89  0.89  0.89   0.89       0.89     100

[244 rows x 7 columns]